.selectedPage {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #ffffffc9;
    border: 1px solid #74706b;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    margin: 2px;
}
.allPage {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: #c9c1b7;
    border: 1px solid #74706b;
    margin: 2px;
    padding: 1px 6px 1px 6px;
    border-radius: 3px;
}
.allPage:active {
    background: #ddd4c9;
}