.selectedPage {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #ccd2dac9;
    border: 1px solid rgba(255, 255, 255, 0.712);
    border-radius: 8px;
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    margin: 2px;
}
.allPage {
    cursor: pointer;
    color: rgb(223, 225, 235);
    background: #59687a;
    border: 1px solid #59687a;
    border-radius: 8px;
    margin: 2px;
    padding: 1px 6px 1px 6px;
}
.allPage:active {
    background: #3d4652;
}
.hidden {

}